<div class="stacklife-infopanel">
  <h2>What is Stacklife?</h2>
  <p>Browse your DPLA search as a stack of books. The darker the shade of blue, the more relevant the book to your search. Click on a book to see more details on the right.</p>
</div>